@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
}

#wa {
  right: 20px;
  bottom: 20px;
  position: fixed;
  z-index: 999;
}

.jumbotron {
  width: 100%;
  height: 550px;
  background-image: url(img/bg.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -10;
  margin-top: 60px;
}

.jumbotron * {
  transition: ease;
}

.jumbotron h1 {
  font-family: "Satisfy", cursive;
  font-size: 8em;
  animation: jumbotronh1 10s ease infinite alternate;
  z-index: 1;
}

@keyframes jumbotronh1 {
  0% {
    text-shadow: 0 0 20px rgb(145, 255, 139);
  }
  10% {
    text-shadow: 0 0 20px rgb(218, 233, 128);
  }
  20% {
    text-shadow: 0 0 20px rgb(139, 255, 255);
  }
  30% {
    text-shadow: 0 0 20px rgb(255, 197, 139);
  }
  40% {
    text-shadow: 0 0 20px rgb(184, 237, 239);
  }
  50% {
    text-shadow: 0 0 20px rgb(85, 135, 83);
  }
  60% {
    text-shadow: 0 0 20px rgb(255, 139, 139);
  }
  70% {
    text-shadow: 0 0 20px rgb(220, 164, 213);
  }
  80% {
    text-shadow: 0 0 20px rgb(135, 110, 182);
  }
  90% {
    text-shadow: 0 0 20px rgb(155, 170, 66);
  }
  100% {
    text-shadow: 0 0 20px rgb(209, 78, 157);
  }
}

.jumbotron::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
}

.container1 {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  top: -30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 40px;
  padding-top: 25px;
}

.container1 img {
  margin: 5px;
  top: 5px;
}
.container1 #img1 {
  animation: img-animate 1s ease infinite alternate;
}
.container1 #img2 {
  animation: img-animate 1s ease infinite alternate;
  animation-delay: 0.5s;
}
.container1 #img3 {
  animation: img-animate 1s ease infinite alternate;
  animation-delay: 1s;
}
.container1 #img4 {
  animation: img-animate 1s ease infinite alternate;
  animation-delay: 1.5s;
}
.container1 #img5 {
  animation: img-animate 1s ease infinite alternate;
  animation-delay: 2s;
}
.container1 #img6 {
  animation: img-animate 1s ease infinite alternate;
  animation-delay: 2.5s;
}

@keyframes img-animate {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-5px);
  }
}
.container1::before {
  content: "PROGRAMMING TOOLS";
  color: #fff;
  text-align: center;
  line-height: 30px;
  position: absolute;
  width: 50%;
  height: 40px;
  top: -20px;
  left: auto;
  border-radius: 10px;
  background-color: #17181c;
  border: 3px solid #fff;
}

.about {
  background-color: #fff;
  position: relative;
  top: -30px;
  padding: 20px;
}

.about .col {
  opacity: 0;
  transition: 1s ease;
  transform: rotate(20deg);
}

.project {
  background-color: #17181c;
  height: 600px;
  width: 100%;
  position: relative;
  color: #fff;
}

.card-container .card {
  width: 200px;
  height: 250px;
  box-shadow: 5px 5px 10px rgba(1, 1, 1, 0.5);
  transition: all 0.6s ease-in-out;
  overflow: hidden;
  opacity: 0;
  transition: 1s ease;
}
.card-container .card1 {
  background-image: url(img/comp/foto1.jpg);
  background-size: cover;
  background-position: center;
}
.card-container .card2 {
  background-image: url(img/comp/foto2.jpg);
  background-size: cover;
  background-position: center;
}
.card-container .card3 {
  background-image: url(img/comp/foto3.jpg);
  background-size: cover;
  background-position: center;
}

.card-container .card::before {
  content: "";
  width: 100%;
  height: 100%;
  margin: 0;
  display: block;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
}
.card-container .card-detail {
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.card-container .card-detail:hover {
  cursor: pointer;
  background-color: rgba(1, 1, 1, 0.5);
}

@media (max-width: 1024px) {
  .jumbotron h1 {
    font-size: 6em;
  }
  .project {
    top: -20px;
  }
}
@media (max-width: 700px) {
  .jumbotron h1 {
    font-size: 4em;
  }
  .jumbotron p {
    font-size: 0.8em;
  }
  .container1 {
    height: 120px;
    top: -40px;
  }
}
@media (max-width: 500px) {
  .jumbotron h1 {
    font-size: 3em;
  }
  .jumbotron p {
    font-size: 0.6em;
  }

  .container1 {
    height: 90px;
    top: -30px;
  }
  .container1 img {
    height: 20px;
    width: 30px;
  }
  .container1::before {
    font-size: 0.7em;
    height: 34px;
    top: -17px;
  }
}
